<mat-grid-list cols="3" rowHeight="300px" class="grid-list">
    <mat-grid-tile class="grid-tile">
        <mat-card class="card-tile" routerLink="/emoji">
            <mat-card-header>
                <mat-card-title>Emojis</mat-card-title>
            </mat-card-header>
            <img class="card-img" mat-card-image src="../../../assets/images/emoji-bg.jpg" alt="Emojis">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
        <mat-card class="card-tile" routerLink="/shopping-cart">
            <mat-card-header>
                <mat-card-title>Shopping Cart</mat-card-title>
            </mat-card-header>
            <img class="card-img" mat-card-image src="../../../assets/images/shopping-cart-bg.jpg" alt="Shopping">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-tile">
        <mat-card class="card-tile" routerLink="/calculator">
            <mat-card-header>
                <mat-card-title>Calculator</mat-card-title>
            </mat-card-header>
            <img class="card-img" mat-card-image src="../../../assets/images/calculator-bg.jpg" alt="Calculator">
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
